<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.image.url(:medium) %>
        <br />
        <br />
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>
</div>

<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Home", root_path %>